	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
  
    inTable{
		font-family: 'Nanum Gothic', ³ª´®°íµñ, arial, verdana, sans-serif;
		font-size: 4.5px;
		font-weight: 400;
		color: #000000;
   		}

	Subject{
		font-family: 'Nanum Gothic', ³ª´®°íµñ, arial, verdana, sans-serif;
		font-size: 12px;
		font-weight: 700;
		color: #8d60e1;
   		}

	firstLast{
		font-family: 'Nanum Gothic', ³ª´®°íµñ, arial, verdana, sans-serif;
		font-size: 4px;
		font-weight: 400;
		color: #ffffff;
		}
